.login-background {
    height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
    );

    .login-container {
        width: 400px;
        height: 400px;

        margin: 0 auto;
        border-radius: 10px;
        background-color: white;
    }

    .login-content {
        padding: 10px;
        .text-login {
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            padding-top: 10px;
        }
        .login-input {
            margin: 7px 0;
        }
        .btn-login {
            width: 100%;
            margin: 10px 0;
            height: 35px;
            border-radius: 15px;
            outline: none;
            border: none;
            background: linear-gradient(
                135deg,
                rgba(34, 193, 195, 1) 0%,
                rgba(253, 187, 45, 1) 100%
            );
            color: white;
            font-size: 16px;
        }
        .forgot-password {
            font-size: 12px;
        }
        .text-center {
            text-align: center;
        }
        .social-login {
            display: flex;
            text-align: center;
            justify-content: center;
            margin-top: 10px;

            .google {
                font-size: 35px;
                background-color: rgb(208, 63, 63);
                border-radius: 50%;
                height: 50px;
                width: 50px;
                color: white;
                justify-content: center;
                align-items: center;
                display: flex;
                margin-right: 15px;
            }
            .facebook {
                font-size: 35px;
                background-color: #3073ff;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                color: white;
                justify-content: center;
                align-items: center;
                display: flex;
            }
        }
    }
}
